* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../src/back.jpg);
    background-size: cover;
}
.sw-audio {
    position: absolute;
    display: block;
    margin: 0 auto;
    outline: none;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
    margin-top: 100px;
  }

  .hold-text {
      position: relative;
      top: -100px;
      transform-origin: 50% 100%;
      animation: dark-side 30s linear;
      animation-iteration-count: infinite;
  }

  @keyframes dark-side {
    0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }