* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.clearfix {
    clear: both;
}
.wrapper {
    font-family: "Verdana";
}

.header {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    color:#FFF;
}

.text-logo {
    display: inline-block;
    width: 63%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
    margin-left: 81px;
    color: #ffffff;
}

.title-logo:hover {
    color: #3cb878;
}

.text-logo a {
    text-decoration: none;
    color: #fff;
}

.header-right {
    font-size: 14px;
    display: inline-block;
    width: 30%;
}

.first-icon {
    display: inline-block;
    width: 19px; height: 19px;
    background: url(../img/css_sprites.png) -10px -11px;
    margin-right: 28px;
}

.second-icon {
    display: inline-block;
    width: 28px; height: 28px;
    background: url(../img/css_sprites.png) -57px -3px;
    margin-right: 28px;
}

.third-icon {
    display: inline-block;
    width: 20px; height: 20px;
    background: url(../img/css_sprites.png) -113px -10px;
    margin-right: 25px;
}

.first-icon:hover {
    background: url(../img/css_sprites.png) -10px -51px;
}

.second-icon:hover {
    background: url(../img/css_sprites.png) -57px -43px;
}

.third-icon:hover {
    background: url(../img/css_sprites.png) -113px -50px;
}

.link-login, .main-link {
    text-decoration: none;
    color: #3cb878;
}

.main-link:hover {
text-decoration: underline;
}

.line {
    display: inline-block;
    color:gray;
    width: 2px;
    height: 19px;
    opacity: 0.1;
    margin-right: 24px;
}

.welcome-block {
    display: inline-block;
}

.login-form {
    position: fixed;
    width: 444px;
    height: 584px;
    border-radius: 10px;
    background-color: #ffffff;   
    top: 50%;
    left: 50%;
    margin-top: -252px;
    margin-left: -222px;
}

.shape {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: none;
    background: #3cb878;
    margin-top: 29px;
    float: left;
}
.form-wrapper {
    margin: 29px auto 0 auto;
    width: 322px;
}
.link-sign {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: center;
  color: #434343;
  text-decoration: none;
}
.link-sign, .link-login {
    display: inline-block;
}

.form-line {
    display: inline-block;
    width: 130px;
    height: 1px;
    background: rgb(234,234,234);
    border: none;
    vertical-align: middle;
}

.separator {
    display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #848484;
  padding: 0 18px;
  margin-top: 37px;

}

.main-input {
    height: 46px;
    width: 100%;
    margin-top: 9px;
}

.facebook-btn {
    float: left;
    border: none;
    margin-top: 15px;
    padding: 10px 17px 10px 24px;
    color:#ffffff;
    font-size: 16px;
    border-radius: 3px;
    background-color: #305db8;
    cursor: pointer;
    vertical-align: middle;
    line-height: 28px;
}

.facebook-btn:hover {
    background-color: #264b96;
}

.fb-logo, .google-logo {
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #000000;
    opacity: 0.1;
    vertical-align: middle;
    margin: 0 18px 0 17px;
}

.facebook-btn::before {
    content: "f";
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 10px;
    height: 20px;
    color: white;

}
.google-btn {
    float: right;
    border:none;
    margin-top: 15px;
    padding: 12px 17px 10px 24px;
    color:#ffffff;
    font-size: 16px;
    border-radius: 3px;
    background-color: #df4a32;
    cursor: pointer;
}

.google-btn:hover {
    background-color: #c3412c;
}

.google-btn::before {
    content: "G+";
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 25px;
    height: 16px;
    color: white;
}

.create-btn {
    width: 100%;
    font-size: 16px;
    color:#ffffff;
    background: #3cb878;
    padding: 17px 100px;
    margin-top: 28px;
    cursor: pointer;
}

.link-sign {
    float: left;
}
.link-login {
    float: right;
}

.main-input:focus {
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    border: none;
    outline:transparent;
    padding-left: 19px;
}

.main-input::placeholder {
font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #bebebe;
  padding-left: 19px;
}
.checkbox {
    display: none;
}

.terms {
    display: inline-block;
    margin-top: 19px;
    color: #434343;
}

.terms a {
    color:#3cb878;
    text-decoration: none;
}
.lb-agree {
    user-select: none;
}

.new-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(234,234,234);
    border-radius: 4px;
    text-align: center;
}

.new-checkbox::before {
    font-size: 0;
    font-weight: bold;
    display: inline-block;
    content: "L";
    color:#3cb878;
    transform: scale(-0.9, 1) rotate(-40deg);
}

.checkbox:checked + .new-checkbox::before {
    font-size: 1em;
}

.create-btn:hover {
    background-color: #329a65;
}