@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
    margin: 0;
    padding: 0;
}

.color-logo {
    color:#4BCAFF;
}

.wrapper {
    font-family: 'Hind', sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.header-left-logo {
    text-align: left;
    width: 100%;
    
}

.header-left-logo a {
    font-size: 80px;
    color: black;
    text-decoration: none;
    margin-left: -7px;
    
}

.header-top-menu {
    width: 100%;
    font-size: 24px;
    background: #35444F;
    text-align: center;
}

.menu-link {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    padding: 15px 25px 15px 25px;
}

.menu-link a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link:hover {
    background: #222F3A;
    border-right: 1px solid white;
    border-left: 1px solid white;
    cursor: pointer; 
}

.main-container {
    display: inline-block;
    width: 100%;
    margin-top: 26px;
    text-align: left;
}

.main-left-menu {
    width: 345px;
    border: 1px solid #7E878F;
    float: left;
    font-size: 30px;
}

.left-menu-link {
    text-align: left;
    padding: 15px 0 15px 0;
    margin-left: 21px;
    list-style-type: none
}

.left-menu-link a {
    text-decoration: none;
    color: #485863;
}
.left-menu-link:hover {
    margin: 0;
    text-indent: 50px;
    background: #DBDBDB;
    color: #35444F;
    cursor: pointer;
}

.right-block-logo {
    width: 885px;
    float: right;
    border: 1px solid #7E878F;
}

.right-block-logo img {
    display: block;
    width: 320px;
    height: 381px;
    margin: 38px auto 37px auto;
    transition: transform 1s;
}
.right-block-logo img:hover {
    transform: scale(1.2);
}

.right-block-text {
    float: right;
    width: 885px;
    margin-top: 10px;
}

.rigit-block-paragraph {
    width: 815px;
}

.text-paragraph {
    margin-top: 15px;
    margin-left: 15px;
}

.footer-block {
    width: 100%;
    height: 70px;
    background: #63696E;
    margin-top: 22px;
    text-align: center;
}

.footer-menu {
    font-size: 24px;
    float: left;
}

.footer-link {
    display: inline-block;
    text-align: left;
    padding: 15px 25px 15px 25px;
}

.footer-link a:hover {
    text-decoration: underline;
    color: #3683A7;
}
.footer-link a {
    color: #0C1927;
    text-decoration: none;
}

.footer-copyright {
    float: right;
    font-size: 24px;
}

.footer-copyright p {
    display: inline-block;
    text-align: left;
    padding: 15px 25px 15px 25px;
}
