@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    font-family: 'Open Sans', sans-serif;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #1a1d20;
    padding: 22px;
}

.logo-block {
    display: flex;
}

.logo-name {
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;

}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.main-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link {
    margin-right: 37px;
}

.menu-link:last-child {
    margin-right: 0;
}

.menu-link a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu-link a:hover {
    text-decoration: underline;

}

.icon-search {
    color: #fff;
    background-color: #171a1c;
    padding: 22px;
}

.title-news {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;

}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 387px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/first.jpeg);
    background-size: cover;
    background-position: 50% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.buttons {
    margin-top: 44px;
}

.btn-subscribe {
    background-color: #89ca62;
    margin-right: 20px;
    padding: 20px 21px;
}

.btn-articles {
    background-color: #14b9d5;
    padding: 20px 32px;
}

.title-post {
    font-family: 'OpenSans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    padding-top: 60px;
    text-align: center;
}

.popular-posts {
    background-color: #f2f2f2;
    padding-bottom: 36px;
}

.wrapper {
    width: 1171px;
    margin: 0 auto;
}

.card {
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    margin-right: 30px;
    margin-top: 32px;
}
.main-post-block {
    display: flex;
}

.post-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
}

.post-description {
    display: block;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #353a3d;
    line-height: 62px;
    text-decoration: none;
}

.post-description:hover, .news-link:hover {
    font-weight: normal;
}

.post-1 {
    width: 370px;
    height: 320px;
}

.post-1 img {
    width: 370px;
    height: 259px;
}

.post-2 {
    width: 370px;
    height: 441px;
}

.post-2 img {
    width: 370px;
    height: 379px;
}

.post-3 {
    width: 370px;
    height: 355px;
    margin-right: 0;
}

.post-3 img {
    width: 370px;
    height: 289px;
}

.post-4 {
    width: 370px;
    height: 321px;
}

.post-4 img {
    width: 370px;
    height: 259px;
}

.post-5 {
    width: 370px;
    height: 309px;
}

.post-5 img {
    width: 370px;
    height: 246px;
}

.post-6 {
    width: 370px;
    height: 441px;

}

.post-6 img {
    width: 370px;
    height: 379px;
}

.popular-clients {
    height: 590px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/second.jpeg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.popular-clients .wrapper {
    height: 590px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title-clients {
    text-transform: uppercase;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    grid-area: 1 / 2 / 2 / 4;
    justify-self: center;
    align-self: end;
}

.separator {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    grid-area: 2 / 2 / 3 / 4;
    justify-self: center;
    align-self: center;

}

.national { 
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
    align-self: start;
}

.dryme { 
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: start; 
}

.house { 
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;
    align-self: start; 
}

.journy { 
    grid-area: 3 / 4 / 4 / 5;
    justify-self: center;
    align-self: start;
}

.rating {
    width: 100%;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title-rated {
    font-family: 'OpenSans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: 1 / 3 / 2 / 6;
    justify-self: center;
    align-self: center;
}

.top-rated img {
    width: 100%;
}

.last-post-1 {
    grid-area: 2 / 1 / 3 / 2;
    
}

.last-post-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.last-post-3 {
    grid-area: 2 / 3 / 3 / 4; 
}

.last-post-4 {
    grid-area: 2 / 4 / 3 / 5; 
}

.last-post-5 {
    grid-area: 2 / 5 / 3 / 6;
}

.last-post-6 {
    grid-area: 2 / 6 / 3 / 7;
}

.last-post-7 {
    grid-area: 2 / 7 / 3 / 8;
}
.section-title-news {
    font-family: 'OpenSans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: 1 / 2 / 2 / 4;
    align-self: center;
    justify-self: center;
    margin-right: 33px;
}

.hot-news .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 132px 306px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.hot-news .card {
    background-color: #f9f7f7;
    margin-right: 0;
}
.card-news-center {
    width: 554px;
    height: 418px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card-news-center .news-link {
    align-self: center;
    justify-self: end;
    padding-right: 27px;
}

.card-news-center p {
    padding-right: 27px;
}

.news-link{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-decoration: none;
    text-align: right;
}

.hot-news p {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    color: #5b6469;
    text-align: right;
}

.news-1 {
    grid-area: 2 / 1 / 3 / 4;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.news-1 .news-link {
    grid-area: 1 / 2 / 2 / 3; 
    padding-right: 24px;
    align-self: center;
}

.news-1 p {
    grid-area: 2 / 2 / 3 / 3;
    padding: 22px 24px 37px 30px;
}

.news-1-1 {
    width: 277px;
    height: 259px;
    grid-area: 2 / 4 / 3 / 5; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-self: end;
}

.news-1-1 .news-link {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    align-self: center;
}

.news-2 {
    grid-area: 3 / 1 / 4 / 3;
}

.news-3 {
    grid-area: 3 / 3 / 4 / 5;
    justify-self: end;
}

.news-4 {
    grid-area: 4 / 1 / 5 / 3;
}

.news-5 {
    grid-area: 4 / 3 / 5 / 5; 
    justify-self: end;
}

.news-6 {
    width: 856px;
    height: 259px;
    grid-area: 5 / 2 / 6 / 5; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-self: end;
}

.news-6 .news-link {
    grid-area: 1 / 2 / 2 / 3; 
    padding-right: 24px;
    align-self: center;
}

.news-6 p {
    grid-area: 2 / 2 / 3 / 3;
    padding: 22px 24px 37px 30px;
}

.news-6-1 {
    width: 277px;
    height: 259px;
    grid-area: 5 / 1 / 6 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.news-6-1 .news-link {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    align-self: center;
}

.footer {
background-color: #1d2124;
}

.footer .wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 64px);
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.copyrights {
    grid-area: 1 / 1 / 2 / 2;
    font-family: OpenSans;
    font-size: 13px;
    line-height: 1.62;
    color: #ffffff;
    align-self: center;
}

.footer-logo, .footer-logo-text {
    align-self: center;
    justify-self: end;
}

.footer-logo {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 5px;
}

.footer-logo-text {
    grid-area: 1 / 3 / 2 / 4; 
}

/*BUTTON UP*/
.icon-chevron-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 28px;
    color: #14b9d5;
    padding: 20px;
    background: #89ca62;
    cursor: pointer;
}

.second-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-menu-link {
    margin-right: 37px;
}


.second-menu-link:last-child {
    margin-right: 0;
}

.second-menu-link a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
    
.second-menu-link a:hover {
    border-bottom: 1px solid #fff;
}

.hidden {
    display: none;
}

.toggle {
    display: block;
    margin: 0 auto;
}