@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
@import url("https://use.typekit.net/anp4mla.css");

* {
  margin: 0;
  padding: 0;
}

.wrapper {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 2px;
}

.main-menu {
	width: 100%;
	background: #fff; 
}
.top-menu {
    display: inline-block;
    margin: 32px  40px 24px 0px;
}

li:nth-child(4) {
    margin: 0;
}

.top-menu a {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    color: #16A085;
    text-decoration: none;
}

.main-image {
    width: 100%;
    height: 720px;
    
}

.main-tittle {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 44px;
}

.main  {
    background:#F5F6F7;
}


.main-paragraph {
    font-size: 16px;
    padding-top: 26px;
    line-height: 1.5;
    margin: 0 81px 10px 85px;
}

.main-button {
    width: 193px;
    height: 52px;
    background: #16A085;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: myriad-pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 106px ;
    margin-top: 30px;
    cursor: pointer;

}

.main-footer {
    background:#fff
}
.main-footer span {
    float: right;
    margin: 35px 78px 34px 0;
}
