* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
}


.wrapper {
    width: 1366px;
    margin: 0 auto;
    color: #FFF;
    font-family: Verdana;
    font-size: 18px;
}

.wrapper a {
    text-decoration: none;
    color: #ffffff;
}

.header {
    width: 1066px;
    margin: 49px auto 48px auto;
}
.logo {
    position: absolute;
    fill: #ffffff;
    width: 46px;
    top:78px;
}

.logo:hover {
    fill: #f26522;
}

.logo-text {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 61px;
}

.logo-text:hover {
    color: #f26522;
}

.subtitle {
   font-size: 29px; 

}
.left-block {
    float: left;
}
.contact-info {
    float: right;
    text-align: right;
}
.clearfix {
    clear: both;
}

.main {
    margin: 0 auto;
    width: 1066px;
    min-height: 100%;
}

.first-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    margin-right: 65px;
    background-image: url(../img/Shopping\ Tours.png);
}

.first-box:hover .box-details {
    transition: opacity 1s;
    opacity:1;   
}

.second-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    margin-right: 65px;
    background-image: url(../img/Sightseeing\ Tours.png);
}

.second-box:hover .box-details-2 {
    transition: opacity 1s;
    opacity:1;   
}

.third-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    background-image: url(../img/Food\ Tours.png);
}

.third-box:hover .box-details-3 {
    transition: opacity 1s;
    opacity:1;   
}

.fourth-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    margin-right: 65px;
    background-image: url(../img/Bars\ &\ Nightlife.png);
}

.fourth-box:hover .box-details-4 {
    transition: opacity 1s;
    opacity:1;   
}

.fifth-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    margin-right: 65px;
    background-image: url(../img/Art\ &\ Architecture.png);
}

.fifth-box:hover .box-details-5 {
    transition: opacity 1s;
    opacity:1;   
}

.sixth-box {
    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    background-color: #ffffff;
    width: 312px;
    height: 205px;
    float: left;
    background-image: url(../img/Walking\ Tours.png);
}

.sixth-box:hover .box-details-6 {
    transition: opacity 1s;
    opacity:1;   
}

.box-details, .box-details-2, .box-details-3, .box-details-4, .box-details-5, .box-details-6 {
    opacity: 0;
    margin-top: 138px;
    height: 63px;
    color:#ffffff;
    background: #f26522;
    
}
.box-details > a::after, .box-details-2 > a::after, .box-details-3 > a::after, .box-details-4 > a::after, .box-details-5 > a::after, .box-details-6 > a::after{
    content: ">";
    color: #ffffff;
    opacity: 0.5;
    margin: 0 17px 0 15px;

}

.second-line-img {
    margin-top: 98px;
}

.price {
    display: inline-block;
    font-size: 20px;
    padding-left: 21px;
}

.start-price {
font-size: 10px;
padding: 16px 0 0 21px;
}

.main-link {
    display: block;
    text-align: center;
    margin: 20px auto;
}
.main-link:hover {
    color:#f26522;
}

.details-link {
    font-size: 14px;
    float: right;
    line-height: 1.5;
    
}
.copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 99px;
}
