@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    text-transform: uppercase;
}

.pricing-table {
    margin: 0 auto;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 31px solid #3a4965;
    border-left: 22px solid #3a4965;
}

.standart, .ultimate, .premium {
    padding: 27px 72px 25px 73px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #fff;
}

.head-row {
    vertical-align: middle;
}
.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
}

.premium {
    background-color: #20807c;
}

.choose {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.56;
    text-align: center;
    padding: 54px 88px 0 88px;
}

.pricing {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    text-align: center;
    padding: 10px 49px 56px 49px;
}

.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.47;
}

.price::after {
    content: ".99";
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    position: absolute;
    top: 7px;

}

.price-period {
    font-size: 18px;
    line-height: 1.56;
}

.table-body {
    text-align: center;
}
.item {
    padding: 30px 0 28px 0;
}

.item span {
    font-size: 16px;
    line-height: 1.75;
}

.table-body tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-body tr:nth-child(even) {
    background-color: #e3e3e3;
}

.table-body td {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
}

.table-header :nth-child(2) {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.pricing-table td {
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    /* background: linear-gradient(to right, rgba(0,0,0,.1) 0%, transparent 1%);
}

.table-body:nth-child(2) td {
    background: linear-gradient(to right, rgba(0,0,0,.1) 0%, transparent 3px);
}

.table-body:nth-child(4) td {
    background: linear-gradient(to right, rgba(0,0,0,.1) 0%, transparent 3px);
} */

/* ICONS */
}
.main-icons {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #848484;
    margin-right: 12px;
}

/* BUTTONS */

.buttons {
    text-align: center;
}

.btn {
    text-transform: uppercase;
    padding: 18px 45px 11px 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    color: #ffffff;
    cursor: pointer;
    outline:none;

}

.btn-contact {
    position: relative;
    background-color: #484848;
}

.btn-standart {
    position: relative;
    background-color: #89c331;
    padding: 18px 58px 11px 58px;
}

.btn-ultimate {
    position: relative;
    background-color: #f04a56;
    padding: 18px 58px 11px 58px;
}

.btn-premium {
    position: relative;
    background-color: #20807c;
    padding: 18px 58px 11px 58px;
}

.btn-standart:hover {
    background-color: transparent;
    color: #89c331;
}

.btn-ultimate:hover {
    background-color: transparent;
    color: #f04a56;
}

.btn-premium:hover {
    background-color: transparent;
    color: #20807c;
}

.btn-contact:hover{
    background-color: transparent;
    color: #484848;
}

.btn-contact::after {
    position: absolute;
    content: "-";
    display: inline-block;
    line-height: 7px;
    width: 100%;
    background-color: #404040;
    color:#404040;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
}

.btn-standart::after {
    position: absolute;
    content: "-";
    display: inline-block;
    line-height: 7px;
    width: 100%;
    background-color: #79b027;
    color:#79b027;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
}
.btn-ultimate::after {
    position: absolute;
    content: "-";
    display: inline-block;
    line-height: 7px;
    width: 100%;
    background-color: #df3a46;
    color:#df3a46;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
}

.btn-premium::after {
    position: absolute;
    content: "-";
    display: inline-block;
    line-height: 7px;
    width: 100%;
    background-color: #16736f;
    color:#16736f;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
}